<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biz.no_ip.rastilion.ascenteval" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">
        <meta-data
            android:name="DATABASE"
            android:value="systems.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <activity
            android:name=".SystemListActivity"
            android:label="@string/app_name"
            android:theme="@style/BlackFont">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Helper.FileDialog"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SystemListActivity" />
        </activity>
        <activity
            android:name=".SystemDetailActivity"
            android:label="@string/title_system_detail"
            android:parentActivityName=".SystemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SystemListActivity" />
        </activity>
    </application>
</manifest>
